*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

/* Utility */
header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.flex_end{
    justify-content: flex-end;
}

.align_center{
    margin: 0 auto;
    width: 80%;
}

.border{
    border: 1px solid #cdcdce;
}

.color_blue{
    color: #0061ff;
}

/* button */
.button_white{
    background-color: white;
    color: black;
    border: 0;
}
.button_blue{
    background-color: #0061ff;
    color: white;
}
.button_small{
    border: 0;
    padding: 10px 10px;
}

.button_plan{
    background-color: #0061ff;
    color: white;
    border: 0;
    padding: 10px 0;
    width: 100%;
}

.button_large{
    border: 0;
    padding: 10px 40px;
}

/* header */

.cont_header{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
}

.row_header{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col_header_left, .col_header_right{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.col_header_left a, .col_header_left img{
    margin-left: 20px;
}

.col_header_left a, .col_header_right a{
    text-decoration: none;
    color: black;
}

.col_header_right a, .col_header_right button{
    margin-right: 20px;
}

/* main */

/* section 1 */

.cont_sect1{
    padding-top: 100px;
    width: 100%;
    background-color: #b4d0e7;
}
/* section 1 top */

.col_sect1_top h1{
    font-size: 60px;
    line-height: 60px;
    padding-top: 50px;
}
/* section 1 bottom */

.row_sect1_bottom{
    display: flex;
    margin-top: 50px;
    

}
.col_sect1_bot_left{
    width: 40%;
}

.col_sect1_bot_right{
    position: relative;
    width: 60%;
}

.col_sect1_bot_right img{
    max-width: 90%;
    position: absolute;
    
}

.content_button{
    margin-top: 20px;
}

.content_button span{
    margin-top: 20px;
    display: block;
}
.content_button i{
    margin-top: 30px;
    font-size: 30px;
    padding-bottom: 10px;
}

/* section 2 */


.cont_sect2{
    margin: 0 auto;
    width: 70%;
}

/* row section 2 top */

.col_sect2_top{
    margin-top: 120px;
}

.col_sect2_top h2{
    font-size: 35px;
}

.fatturazione{
    margin: 40px 0;
}

/* row section 2 center */

.row_sect2_center{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col_rateplan{
    width: 30%;
    
}

/* icon */

.icon_rateplan{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #cdcdce;;
}

/* description */

.descr_rateplan{
    width: 75%;
    margin: 15px auto;
}

.descr_rateplan hr{
    width: 40px;
    margin: 40px 0;
    color: #b4d0e7;
}

.descr_rateplan h4{
    margin-bottom: 30px;
}


/* title plan */

.title_rateplan h2{
    margin: 15px 0;
}

.title_rateplan span{
    display: block;
    margin-bottom: 10px;
}


/* users plan */
.users_rateplan{
    margin: 40px 0;
}


.users_flex{
    display: flex;
    margin-bottom: 20px;
    font-size: 13px;
}
.users_flex i{
    margin-right: 10px;
}

/* button plane */

.button_rateplane{
    text-align: center;
    margin-bottom: 20px;
}

/* row section 2 bottom */

.row_sect2_bottom_top{
    margin-top: 40px;
}

.col_sect2_bottom_top{
    text-align: center;
    padding: 10px 0;
}

.row_sect2_bottom{
    display: flex;
    justify-content: space-between;
}

.col_sect2_bottom_left{
    width: 70%;
    margin: 20px;
}

.col_sect2_bottom_right{
    width: 30%;
    margin: 20px;
    text-align: right;
}

.col_sect2_bottom_left h2{
    margin-bottom: 15px;
}
.col_sect2_bottom_left p{
    margin-top: 40px;
}

/* section 3 */

.cont_sect3{
    margin: 150px auto;
    width: 70%;
}

.row_sect3{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col_sect3_left{
    width: 56%;
}

.col_sect3_left img{
    width: 100%
}

.col_sect3_right{
    width: 40%;
    margin: 60px 0;
}

.col_sect3_right p{
    margin: 10px 0;
}

.col_sect3_right button{
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 15px;
}

/* section 4 */

.cont_sect4{
    margin: 0 auto;
    width: 70%;
}

.row_sect4{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.col_sect4{
    width: 30%;
}

.col_sect4 img{
    width: 100%;
}

.col_sect4 p{
    margin-top: 20px;
}